@tailwind base;
@tailwind components;
@tailwind utilities;

/* making components */

@layer components {
  .search-label {
    margin-bottom: 10px;
    padding-top: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .search-control {
    padding: 8px 10px;
    width: 300px;
    border-radius: 5px;
    padding: 10px;
  }
}
